body{
    background-image: url("spotLight.jpg");
    font-family: 'Source Code Pro', monospace;


}
header{
        font-family: 'Allerta Stencil', sans-serif;

}
.headCards{
    margin-top: 10px;
}
.cardImage{
    height:200px;
}
#searchForshoes{
    /* background: red; */
    color: whitesmoke;
}
#upcomimgReleasesSector{
    display: none;
}
#shoeDatesHeader{
    color: red;
    /* text-align: center; */
    margin-top:3px;
    /* background: red; */
}
