#DevPicksMainBannerHeader{
    color :black;
    font-family: 'Long Cang', cursive;

}
.devPicksContent{
    padding : 50px;
    border-bottom: 1px solid black;
}
.devPicksShoeName{
    text-align: center;
}
@media only screen and (max-width: 360px) {
    .devPickShoe{
        height: 600px;
        width : 600px;
        padding:100px;
        margin-left: 200px;
    }
    .shoeImage{
      width: 600px;
     /* height: 600px;
      font-size: medium; */
    }
   
    #DevPicksMainBannerHeader{
        position: relative; 
        text-align: center;
        margin-left: 300px;

    
    }
  }
