#mainBannerStorySection{
    margin-top: 300px;
    padding : 100px;
    padding-bottom: 0px;
}
.storySection{
    background-color: black;
    text-align: center;
    color:white;
    padding:50px;
    margin-top:50px;

}
@media only screen and (max-width: 360px) {
    .storySection{
      width: 360px;
     /* height: 600px;
      font-size: medium; */
    }
  }
  /* @media only screen and (max-width: 768px) {
    .storySection{
      width: 1400px;
      font-size: large; 
      height:500px
    }
  } */
.storySectionHeader{
    font-family: 'Long Cang', cursive;

}
#devPickShoe:hover{
    border-bottom: 2px solid black;
}
.storyHeadline{
    font-family: 'Anton', sans-serif;

}
.seeMoreBtn{
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background: #dc3545;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}