#header{
    font-family: 'Allerta Stencil', sans-serif; 
    padding: 0px;
    background-color:white;
    /* border-bottom: 1px solid black; */
    position: sticky;
    top:0px;
    left:0px;
    z-index: 4;
}
.navLink{
    color : black;
}
@media only screen and (max-width: 510px) {
    .navigationLinks{
        visibility: hidden;

    }
    .SneakerWrldTitle{
        position: relative;
        left:10%;
        top:50px
        
    }

    
  }
